<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Resume</title>
	</head>
	<body>
		<div class="container">
			<div class="top">
				<div class="photo">
					<img src="./img/headphoto.png" class="headshot" />
					<h2 class="name">中文名 Name</h2>
				</div>

				<div class="info">
					<h1 class="jobTitle">Front end Developer</h1>
					<div class="infoContent">
						<p>成功大學 xx學系</p>
						<p>2022/02/22 • Tainan</p>
					</div>

					<div class="contact">
						<ul>
							<li id="github">githubAccount@github.com</li>
							<li id="gmail">emailAccount@gmail.com</li>
							<li class="etc">contactAccount@etc.com</li>
							<li class="etc">contactAccount@etc.com</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="bottomLeft">
					<h1>學歷</h1>
                    <ul class="education">
                        <li>
                            <span> 2000 - 2022 </span>
                            <span> 成功大學 xx學系 </span>
                            <div class="eduInfo">
                                <p>
                                    GPA : 0.0/0.0
                                    <br />
                                    xx 實驗室
                                </p>
                            </div>
                        </li>
                        <li>
                            <span> 2000 - 2022 </span>
                            <span> GDSC xx組 </span>
                            <div class="eduInfo">
                                <p>刻html/css</p>
                            </div>
                        </li>
                    </ul>
					<h1>經歷 / 獲獎紀錄</h1>
                    <ul class="education">
                        <li>
                            <span> 2022 </span>
                            <span> S12 英雄聯盟 小組16強 </span>
                            <div class="eduInfo">
                                <p>
                                    AD強,打野強,輔助,中單強,上單強,節奏強,支持,視野強,對線強,補刀強,輔助強,團戰強,協同強,抓強,粉絲強,總結起來16強
                                </p>
                            </div>
                        </li>
                        <li>
                            <span> 2015 </span>
                            <span> S5 英雄聯盟 小組8強 </span>
                            <div class="eduInfo">
                                <p>
                                    上單牛排,打野karsa,中路maple,輔助蛇蛇,AD是誰我給忘了 nlnlOeO
                                </p>
                            </div>
                        </li>
                        <li>
                            <span> 2019 </span>
                            <span> HCT 冬季冠軍賽 </span>
                            <div class="eduInfo">
                                <p>
                                    阿薩斯龍語…真的好強
                                </p>
                            </div>
                        </li>
                        <li>
                            <span> 2022 </span>
                            <span> 貓咪訓練師 </span>
                            <div class="eduInfo">
                                <p>我家的貓會後空翻、前滾翻、倒立、呼嚕呼嚕</p>
                            </div>
                        </li>
                       
                    </ul>
				</div>
				<div class="bottomRight">
					<h1>技能</h1>
					<div class="skill">
						<h3>Program Languages</h3>
						<div class="proLang">HTML</div>
						<div class="proLang">CSS</div>
						<div class="proLang">JavaScript</div>
						<div class="proLang">Etc1..</div>
						<div class="proLang">Etc1..</div>
						<hr />
						<h3>Other Skill</h3>
						<div class="otherSkill">cloud</div>
						<div class="otherSkill">後空翻</div>
						<div class="otherSkill">100公尺 9秒5</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
